<%_
    let imageUrl;
    const baseUrl = 'https://grumpy.blog';
_%>
<!doctype html>
<html lang="<%= $.lang %>">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= $.title %></title>
        <% if ($.description) { %>
            <meta name="description" content="<%= $.description %>">
        <% } %>

        <!-- og -->
        <meta property="og:site_name" content="Grumpy Blog">
        <meta property="og:title" content="<%= $.title %>">
        <meta property="og:url" content="<%= baseUrl %>/<%= $.permalink.replace(/^\//, '') %>">
        <meta property="og:type" content="<%= $.tags.includes('page') ? 'website' : 'article' %>">
        <meta property="og:locale" content="<%= $.lang %>">
        <% if ($.image) {
            imageUrl = baseUrl;

            if (!$.image.startsWith('/')) {
                imageUrl += `/${$.permalink.replace(/^\//, '')}`;
            }

            imageUrl += $.image;
        %>
            <meta property="og:image" content="<%= imageUrl %>">
        <% } %>
        <% if ($.description) { %>
            <meta property="og:description" content="<%= $.description %>">
        <% } %>

        <!-- twitter -->
        <meta name="twitter:card" content="<%- $.image ? 'summary_large_image' : 'summary' %>"></meta>
        <meta name="twitter:creator" content="@wildir"></meta>
        <meta name="twitter:site" content="@wildir"></meta>
        <% if ($.image) { %>
            <meta name="twitter:image" content="<%= imageUrl %>">
        <% } %>

        <!-- favicon -->
        <link rel="icon" type="image/svg+xml" href="/pics/happy-sun.svg">

        <!-- styles -->
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <script>
            (function () {
                function setVw() {
                    const vw = document.documentElement.clientWidth / 100;
                    document.documentElement.style.setProperty('--vw', `${vw}px`);
                }

                setVw();
                window.addEventListener('resize', setVw);
            }());
        </script>

        <%- $.content %>
    </body>
</html>
