<!doctype html>
<html lang="<%= $.lang %>">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= $.title %></title>

        <!-- og -->
        <meta property="og:title" content="<%= $.title %>">
        <meta property="og:url" content="/<%= $.permalink.replace(/^\//, '') %>">
        <meta property="og:type" content="<%= $.tags.includes('page') ? 'website' : 'article' %>">
        <meta property="og:locale" content="<%= $.lang %>">
        <% if ($.image) { %>
            <meta property="og:image" content="<%= $.image %>">
        <% } %>
        <% if ($.description) { %>
            <meta property="og:description" content="<%= $.description %>">
        <% } %>

        <!-- twitter -->
        <meta name="twitter:card" content="summary"></meta>
        <meta name="twitter:creator" content="@wildir"></meta>

        <link rel="icon" type="image/svg+xml" href="/pics/happy-sun.svg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <script>
            (function () {
                function setVw() {
                    const vw = document.documentElement.clientWidth / 100;
                    document.documentElement.style.setProperty('--vw', `${vw}px`);
                }

                setVw();
                window.addEventListener('resize', setVw);
            }());
        </script>

        <%- $.content %>
    </body>
</html>
