---
layout: layouts/base
---

<header class="site-header <%= tags.includes('root') ? 'is-root' : '' %>">
    <aside class="site-header__lang-switcher lang-switcher">
        <% ['ru', 'en'].forEach(el => { %>
            <% if (lang === el) { %>
                <span class="lang-switcher__lang"><%= el %></span>
            <% } else { %>
                <a
                    class="lang-switcher__lang is-link"
                    href="/<%= el !== 'ru' ? `${el}/` : '' %>"
                ><%= el %></a>
            <% } %>
        <% }); %>
    </aside>

    <h1 class="site-header__title">
        <a class="site-header__title-link <%= tags.includes('root') ? 'is-root' : '' %>" href="/<%= lang !== 'ru' ? `${lang}/` : ''%>">
            <%=
                lang !== 'ru' ?
                    'Grumpy Dev Blog' :
                    'Grumpy Dev Blog'
            %>
        </a>
    </h1>
</header>

<main>
    <%- content %>
</main>

<footer class="footer <%= tags.includes('root') ? 'is-root' : '' %>">
    <% if (lang === 'en') { %>
        <span class="footer__el">
            <a class="link" href="https://github.com/wilddeer">GitHub</a>
        </span>

        <span class="footer__el">
            <a class="link" href="mailto:me@grumpy.site">me@grumpy.site</a> &larr; Comments, bugs, suggestions
        </span>
    <% } else { %>
        <span class="footer__el">
            <a class="link" href="https://github.com/wilddeer">ГитХаб</a>
        </span>

        <span class="footer__el">
            <a class="link" href="https://twitter.com/wildir">Твиттер</a>
        </span>

        <span class="footer__el">
            <a class="link" href="mailto:me@grumpy.site">me@grumpy.site</a> &larr; Комментарии, баги, замечания
        </span>
    <% } %>
</footer>
