---
layout: layouts/base
---

<header>
    <h1>
        <a href="/<%= lang !== 'ru' ? `${lang}/` : ''%>">
            <%=
                lang !== 'ru' ?
                    'Will finish in the morning' :
                    'Утром доделаю'
            %>
        </a>
    </h1>

    <aside>
        <% ['ru', 'en'].forEach(el => { %>
            <% if (lang === el) { %>
                <span><%= el %></span>
            <% } else { %>
                <a href="<%= el !== 'ru' ? `${el}/` : '/' %>"><%= el %></a>
            <% } %>
        <% }); %>
    </aside>
</header>

<main>
    <%- content %>
</main>

<footer>
    <a href=""https://github.com/wilddeer>ГитХаб</a> &middot;
    <a href="https://twitter.com/wildir">Твиттер</a> &middot;
    Комментарии, баги, замечания → <a href="mailto:me@grumpy.site">me@grumpy.site</a>
</footer>
