---
layout: layouts/base
---

<header class="site-header <%= $.tags.includes('root') ? 'is-root' : '' %>">
    <nav class="site-header__inner">
        <aside class="site-header__lang-switcher lang-switcher">
            <% ['ru', 'en'].forEach(el => { %>
                <% if ($.lang === el) { %>
                    <span class="lang-switcher__lang"><%= el %></span>
                <% } else { %>
                    <a
                        class="lang-switcher__lang is-link"
                        href="/<%= el !== 'ru' ? `${el}/` : '' %>"
                    ><%= el %></a>
                <% } %>
            <% }); %>
        </aside>

        <<%= $.tags.includes('root') ? 'h1' : 'div' %> class="site-header__title">
            <a class="site-header__title-link <%= $.tags.includes('root') ? 'is-root' : '' %>" href="/<%= $.lang !== 'ru' ? `${$.lang}/` : ''%>">
                <%=
                    $.lang !== 'ru' ?
                        'Grumpy Blog' :
                        'Grumpy Blog'
                %>
            </a>
        </<%= $.tags.includes('root') ? 'h1' : 'div' %>>
    </nav>
</header>

<main>
    <%- $.content %>
</main>

<footer class="footer <%= $.tags.includes('root') ? 'is-root' : '' %>">
    <% if ($.lang === 'en') { %>
        <p class="footer__section">
            <span class="footer__el">
                Blog by Oleg Korsunskiy
            </span>

            <span class="footer__el">
                <a class="link" href="https://github.com/wilddeer">GitHub</a>
            </span>

            <span class="footer__el">
                Comments, bugs, suggestions &rarr; <a class="link" href="mailto:me@grumpy.site">me@grumpy.site</a>
            </span>
        </p>

        <p class="footer__section">
            <% if ($.tags.includes('root')) { %>
                <span class="footer__el">
                    Thumbleweed icon by <a class="link" href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a class="link" href="https://www.flaticon.com/">Flaticon</a>
                </span>
            <% } else { %>
                <span class="footer__el">
                    Icons by <a class="link" href="https://fontawesome.com/">Font Awesome</a>
                </span>
            <% } %>
        </p>
    <% } else { %>
        <p class="footer__section">
            <span class="footer__el">
                Бложек Олега Корсунского
            </span>

            <span class="footer__el">
                <a class="link" href="https://github.com/wilddeer">ГитХаб</a>
            </span>

            <span class="footer__el">
                <a class="link" href="https://twitter.com/wildir">Твиттер</a>
            </span>

            <span class="footer__el">
                Комментарии, баги, замечания &rarr; <a class="link" href="mailto:me@grumpy.site">me@grumpy.site</a>
            </span>
        </p>

        <p class="footer__section">
            <% if ($.tags.includes('root')) { %>
                <span class="footer__el">
                    Иконка перекати-поле — <a class="link" href="https://www.flaticon.com/authors/freepik">Freepik</a> из <a class="link" href="https://www.flaticon.com/">Flaticon</a>
                </span>
            <% } else { %>
                <span class="footer__el">
                    Иконки — <a class="link" href="https://fontawesome.com/">Font Awesome</a>
                </span>
            <% } %>
        </p>
    <% } %>
</footer>
