<% // Args: posts, lang %>
<%
    $.posts
        .filter(post => (
            post.data.lang === $.lang &&
            !post.data.tags.includes('draft')
        ))
        .reverse()
        .forEach((post, index, filteredPosts) => {
%>
    <%
        let yearHeading;
        const prevPost = filteredPosts[index - 1];
        const postDate = new Date(post.data.date);
        const postYear = postDate.getFullYear();

        if (prevPost) {
            const prevPostDate = new Date(prevPost.data.date);
            const prevPostYear = prevPostDate.getFullYear();

            if (postYear !== prevPostYear) {
                yearHeading = postYear;
            }
        }
        else {
            yearHeading = postYear;
        }
    %>
    <% if (prevPost && yearHeading) { %>
        </ul>
    <% } %>

    <% if (yearHeading === 2014) { %>
        <h2 class="post-list-title is-empty">
            2015...<%= $.lang === 'en' ? '2020' : '2019' %>
            <span class="post-list-title__tumble">
                <%- include('/svg/tumbleweed.svg') %>
            </span>
        </h2>
    <% } %>

    <% if (yearHeading === 2021) { %>
        <h2 class="post-list-title is-empty">
            2022...2023
            <span class="post-list-title__tumble">
                <%- include('/svg/khinkali.svg') %>
            </span>
        </h2>
    <% } %>

    <% if (yearHeading) { %>
        <h2 class="post-list-title"><%= yearHeading %></h2>

        <ul class="post-list">
    <% } %>

    <li class="post-list__item <%= post.data.tags.includes('archive') ? 'is-archive' : '' %>">
        <a class="post-list__item-link" href="<%= post.url %>"><%=
            post.data.title
        %></a>

        <% if (post.data.tags.includes('archive')) { %>
            <span class="post-list__item-badge">
                <span class="badge"><%= $.lang === 'ru' ? 'устаревшая фигня' : 'deprecated' %></span>
            </span>
        <% } %>

        <time class="post-list__item-date">
            <%-
                include('/modules/parsedDate', {
                    dateString: post.data.date,
                    lang: $.lang
                })
            %>
        </time>
    </li>
<% }); %>
